<div>
    <h1>Ejemplo Angular Zone</h1>
    <p>Proceo de incremento se puede ejecutar dentro/fuera angular zone</p>
    <p>Implicando que los cambios del progreso se vean o no hasta que se indique</p>

    <div>
        <h3>Progreso Actual . {{progreso}}</h3>
        <h4 *ngIf="progreso >= 100">Progreso terminado {{texto }} de Angular Zone</h4>
    </div>

    <div>
        <button (click)="aumentarDentroNgZone()">Aumentar dentro NgZone</button>
        <button (click)="aumentarFueraNgZone()">Aumentar fuera NgZone</button>
    </div>
</div>